<h1>Susan's Day</h1>
<p>
	<ul>Buy bread crumbs</ul>
	<ul>Walk to Rynek</ul>
	<ul>Sprinkle bread crumbs over body</ul>
	<ul>Wait for birds to sit on her</ul>
	<ul><strong><em>Once birds have gathered, yell at birds and make funny faces.</em></strong></ul>
	

</p>
